<div class="container">

  <h1 class="mt-4">Signup!</h1>

  <%= form_for :user, url: '/users' do |f| %>

  <% if flash.now[:alert] %>
  <div class="alert alert-danger">
    <%= flash.now[:alert] %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="mt-3">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, class: 'form-control', required: true %>
  </div>

  <div class="mt-3">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: 'form-control', required: true %>
  </div>

  <div class="mt-3">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>

  <div class="mt-3">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>

  <div class="mt-3">
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>

  <div class="mt-4">
    <%= submit_tag "Signup", class: 'btn btn-lg btn-primary btn-block' %>
  </div>

  <% end %>
</div>