<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <h4>Thank you for your order!</h4>
    <p>Confirmation email sent to:
      <%= @order.email %></p>
  </header>

  <div class="order-summary jumbotron">
    <h2>Order Details</h2>
    <hr class="my-4">
    <% @order.line_items.each do |line_item| %>
    <div class="product-detail">
      <%= image_tag line_item.product.image.thumb.url, alt: line_item.product.name, class: "img-thumbnail" %>
      <div>
        <h4><%= line_item.product.name %></h4>
        <p><%= line_item.product.description %>
        </p>
      </div>
      <div>
        <p>
          Quantity: <%= line_item.quantity %>
        </p>
        <p>Price: $<%= line_item.total_price %>
        </p>
      </div>
    </div>
    <hr class="my-4">
    <% end %>
    <h4>Order Total:
      $<%= @order.total_cents / 100.00 %></h4>
    <hr class="my-4">
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  </div>

</section>